{:paths ["src" "resources"]

 :deps
 {com.cnuernber/charred {:mvn/version "1.010"}}

 :mvn/repos
 {"my.datomic.com" {:url "https://my.datomic.com/repo"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {com.lambdaisland/facai {:mvn/version "RELEASE"}
                 djblue/portal {:mvn/version "RELEASE"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.68.1059"}}}

  :jdbc
  {:extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.2.780"}
                com.github.seancorfield/honeysql {:mvn/version "2.2.891"}}}

  :postgresql
  {:extra-deps {com.impossibl.pgjdbc-ng/pgjdbc-ng {:mvn/version "0.8.9"}}}

  :datomic-pro
  {:extra-deps {com.datomic/datomic-pro {:mvn/version "1.0.6165"}}}

  :datomic-cloud
  {:extra-deps {com.datomic/client-cloud {:mvn/version "1.0.120"}}}

  :datomic-free
  {:extra-deps  {com.datomic/datomic-free {:mvn/version "0.9.5703.21"}}}}}
